<div class="blog-card">
    <a href="#" class="blog-card__img _scale-img m-backdrop">
        <img srcset="img/@@img_2x.jpg 2x" src="img/@@img.jpg"/>
    </a>
    <div class="blog-card__content">
        <div class="blog-card__title bold-text dark-gray-text">
            <a href="">@@title</a>
        </div>
        <div class="blog-card__desc text16">
            @@desc
        </div>
    </div>
    <div class="blog-card__items">
        <div class="blog-card__item"><span>@@date</span></div>
        <div class="blog-card__item"><span>@@type</span></div>
    </div>
</div>
