<div class="main-slide swiper-slide">
    <div class="main-slide__content">
        <div class="main-slide__subtitle">
            Мезотерапия
        </div>
        <div class="main-slide__title text48 semi-bold-text">
            Останавливаем  возрастные изменения
        </div>
        <div class="main-slide__desc dark-gray-text medium-text">
            <div class="text20 text16-tablet">
                Устраняем морщины и сухость кожи лица
            </div>
        </div>
        <div class="main-slide__nav">
            <button class="m-btn m-btn-brown">
                <span>Записаться</span>
            </button>
            <button class="m-btn m-btn-white">
                <span>О процедуре</span>
            </button>
        </div>
    </div>
    <div class="main-slide__img">
        <img srcset="img/girl.png 2x" src="img/girl.png"/>
    </div>
</div>
