<div id="@@id" class="price-group">
    <div class="price-group__show">
        <div class="price-group__title">
            @@title
        </div>
        <button class="price-group__btn">
            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M16 4V28" stroke="#AD4E2C" stroke-width="2" stroke-linecap="round"/>
                <path d="M4 16L28 16" stroke="#AD4E2C" stroke-width="2" stroke-linecap="round"/>
            </svg>
        </button>
    </div>
    <div class="price-group__hidden">
        <div class="price-group__services">
            <div class="price-group__subtitle">
                Лазерная эпиляция на Александритовом лазере — Candela
            </div>
            <div class="price-items">
                @@include('_price-item.html',{
                "title":"Лицо полностью",
                "price":"2 200 ₽",
                "price2":"",
                })
                @@include('_price-item.html',{
                "title":"Лоб и щеки",
                "price":"1 000 ₽",
                "price2":"",
                })
                @@include('_price-item.html',{
                "title":"Виски или бакенбарды, или подбородок",
                "price":"700 ₽",
                "price2":"",
                })
                @@include('_price-item.html',{
                "title":"Нос",
                "price":"500 ₽",
                "price2":"",
                })
                @@include('_price-item.html',{
                "title":"Шея (передняя или задняя поверхность)",
                "price":"1 000 ₽",
                "price2":"",
                })
                @@include('_price-item.html',{
                "title":"Малая зона верхняя губа",
                "price":"700 ₽",
                "price2":"",
                })
                @@include('_price-item.html',{
                "title":"Уши",
                "price":"700 ₽",
                "price2":"",
                })
            </div>
        </div>
        <div class="price-group__services">
            <div class="price-group__subtitle">
                Процедуры на аппарате — Dermadrop
            </div>
            <div class="price-items">
                @@include('_price-item.html',{
                "title":"Глубокое увлажнение HYAL N10 TDA",
                "price":"5 500 ₽",
                "price2":"",
                })
                @@include('_price-item.html',{
                "title":"Обновление и сияние POLAR TDA",
                "price":"6 000 ₽",
                "price2":"",
                })
                @@include('_price-item.html',{
                "title":"Стимуляция роста волос SHINE & GLOW TDA",
                "price":"6 000 ₽",
                "price2":"",
                })
                @@include('_price-item.html',{
                "title":"Омоложение и лифтинг MITOCELL TDA",
                "price":"8 000 ₽",
                "price2":"",
                })
                @@include('_price-item.html',{
                "title":"Здоровые ногти NAILCURE TDA",
                "price":"6 000 ₽",
                "price2":"",
                })
                @@include('_price-item.html',{
                "title":"Клеточный активатор CANABOOST TDA",
                "price":"8 000 ₽",
                "price2":"",
                })
                @@include('_price-item.html',{
                "title":"Лечение проблемной кожи PRODERM TDA",
                "price":"5 500 ₽",
                "price2":"6 900 ₽",
                })
                @@include('_price-item.html',{
                "title":"«Скорая Помощь» DERMACOOL TDA",
                "price":"5 500 ₽",
                "price2":"",
                })
                @@include('_price-item.html',{
                "title":"Активная борьба со старением Fight TDA for men",
                "price":"6 000 ₽",
                "price2":"",
                })
                @@include('_price-item.html',{
                "title":"Защита мужской кожи Rescue TDA for men",
                "price":"6 000 ₽",
                "price2":"",
                })
            </div>
        </div>
    </div>
</div>
