<div class="sale-card">
    <div class="sale-card__img">
        <img srcset="img/@@img_2x.jpg 2x" src="img/@@img.jpg" loading="lazy"/>
    </div>
    <div class="sale-card__content">
        <div class="sale-card__num">
            <img src="img/sale-bg.svg" alt="">
            <span class="sale-card__num-text">
                -35%
            </span>
        </div>
        <div class="sale-card__title">
            @@title
        </div>
        <div class="sale-card__date">
            @@date
        </div>
        <div class="sale-card__nav">
            <button class="m-btn m-btn--small m-btn-white">
                <span>Воспользоваться</span>
            </button>
        </div>
    </div>
</div>
