<div class="container">
    <div class="advantages__grid grid5 grid-tablet3 grid-mob2">
        @@include('../cards/_advantage-card.html',{
        "img":"advantage-icon",
        "title":"Честные цены",
        "desc":"Плати за качество, <br>  получай лучший сервис. <br>  Отличайся!",
        })
        @@include('../cards/_advantage-card.html',{
        "img":"advantage-icon2",
        "title":"Лучшие мастера",
        "desc":"Все мастера имеют подтвержденный опыт в своем направлении.",
        })
        @@include('../cards/_advantage-card.html',{
        "img":"advantage-icon3",
        "title":"Индивидуальность",
        "desc":"Мы не навязываем стиль, слышим клиента и воплащаем пожелания.",
        })
        @@include('../cards/_advantage-card.html',{
        "img":"advantage-icon4",
        "title":"Всегда рядом",
        "desc":"Современный салон в удобной локации",
        })
        @@include('../cards/_advantage-card.html',{
        "img":"advantage-icon5",
        "title":"Безупречное качество",
        "desc":"Только премиум косметика и инструменты. Фирменное оборудование и техника.",
        })
    </div>
</div>
