<nav class="nav">
    <ul>
        <li class="has-children">
            <a href="">
                <!--                                <span class="nav__icon">-->
                <!--                                    <svg class="_view1" width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">-->
                <!--                                        <path d="M3.5 12H21.5M3.5 6H21.5M3.5 18H15.5" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>-->
                <!--                                    </svg>-->
                <!--                                    <svg class="_view2" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">-->
                <!--                                        <path d="M6 6L18 18M18 6L6 18" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>-->
                <!--                                    </svg>-->
                <!--                                </span>-->
                Услуги
            </a>
            <ul>
                <li><a href="">Аппаратная косметология</a></li>
                <li><a href="">Инъекционная косметология</a></li>
                <li><a href="">Уход за телом</a></li>
                <li><a href="">Уход за лицом</a></li>
                <li><a href="">Парикмахерские услуги</a></li>
                <li><a href="">Маникюр и педикюр</a></li>
            </ul>
        </li>
        <li><a href="">Цены</a></li>
        <li><a href="">Работы</a></li>
        <li><a href="">Специалисты</a></li>
        <li><a href="">Акции</a></li>
        <li><a href="">О студии</a></li>
        <li><a href="">Отзывы</a></li>
        <li><a href="">Блог</a></li>
        <li><a href="">Контакты</a></li>
    </ul>
</nav>
