$font1:'Gilroy',sans-serif;
$font2:'Ostrovsky',sans-serif;
$black: #000;
$primary: #AD4E2C;
$primaryHover: #A04423;
$textSecondary: #58585D;
$lightBg: #F7F7F4;
$darkGray: #303030;
$link: #8E2D0B;
$gray: #333;
$red: #C94121;
$green: #87B106;


$vh: calc(100 * var(--vh));
$border: 1px solid #E1E1E0;
