<div class='cartcalc'>
    <button class='ccalc-minus'>
        <svg width="5" height="3" viewBox="0 0 5 3" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.549805 2.03301V0.96701H4.4498V2.03301H0.549805Z" fill="#A7A7A7"/>
        </svg>
    </button>
    <input type='text' value='1'>
    <button class='ccalc-plus'>
        <svg width="7" height="7" viewBox="0 0 7 7" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M2.9282 6.42501V4.03301H0.575195V2.96701H2.9282V0.575012H4.0722V2.96701H6.4252V4.03301H4.0722V6.42501H2.9282Z" fill="#A7A7A7"/>
        </svg>
    </button>
</div>
