<div class="file-input">
    <div class="file-input__wrap">
        <div class="custom-file-container" data-upload-id="file-input"></div>
        <div class="file-input__inner">
            <div class="file-input__title text15">
                Прикрепить фото к отзыву:
            </div>
            <div class="file-input__btn">
                <img src="img/clip.svg" alt="Файл">
                <span>
                    Добавить фото
                </span>
            </div>
        </div>
    </div>
</div>
