<div class="pagination">
    <button class="pagination__more m-btn m-btn-gray">
        <span>Показать еще</span>
    </button>
    <div class="pagination__items">
        <a href="" class="pagination__item pagination__item--active">1</a>
        <a href="" class="pagination__item">2</a>
        <a href="" class="pagination__item">3</a>
        <a href="" class="pagination__item pagination__item--hide-mob">4</a>
        <a href="" class="pagination__item pagination__item--hide-mob">5</a>
        <a href="" class="pagination__item">...</a>
        <a href="" class="pagination__item">22</a>
    </div>
</div>
