<div class="swiper-nav">
    <div class="swiper-button swiper-button-prev m-btn-white">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12.3999 3.99994L6.3999 9.99994" stroke="#AD4E2C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M12.3999 15.9999L6.3999 9.99994" stroke="#AD4E2C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
    </div>
    <div class="swiper-button swiper-button-next m-btn-white">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M7.60059 3.99994L13.6006 9.99994" stroke="#AD4E2C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M7.60059 15.9999L13.6006 9.99994" stroke="#AD4E2C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
    </div>
</div>
